<section id="contact" class="uk-section uk-section-secondary">
    <div class="uk-container" uk-scrollspy="target: > form; cls: uk-animation-fade; delay: 200">
        <h2 class="uk-text-center">Contact</h2>
        <form class="uk-form-stacked">
            <div class="uk-child-width-expand@s" uk-grid>
                <div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-text">Nom* :</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="form-stacked-text" type="text" placeholder="Votre nom">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-text">Email* :</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="form-stacked-text" type="text" placeholder="Votre email">
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-text">Prénom* :</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="form-stacked-text" type="text" placeholder="Votre prénom">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-text">Organisation :</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="form-stacked-text" type="text" placeholder="Votre organisation">
                        </div>
                    </div>

                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Objet du message* :</label>
                <div class="uk-form-controls">
                    <select class="uk-select" id="form-stacked-text">
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                    </select>
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Adresse* :</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="form-stacked-text" type="text" placeholder="Votre adresse">
                </div>
            </div>
            <div class="uk-child-width-expand@s" uk-grid>
                <div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-text">Code Postal* :</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="form-stacked-text" type="text" placeholder="Votre code postal">
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-text">Ville* :</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="form-stacked-text" type="text" placeholder="Votre ville">
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-text">Pays* :</label>
                        <div class="uk-form-controls">
                            <select class="uk-select" id="form-stacked-text">
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                                <option>Option 4</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Message* :</label>
                <div class="uk-form-controls">
                    <textarea name="" id="" cols="30" rows="10" class="uk-textarea"
                        placeholder="Votre message"></textarea>
                </div>
            </div>
            <p class="uk-light">Les champs avec * son obligatoires</p>
            <div class="uk-margin">
                <button
                    class="uk-button uk-button-front uk-button-primary uk-border-rounded uk-light uk-align-center">Envoyer</button>
            </div>
        </form>
    </div>
</section>