<section id="services" class="uk-section uk-section-secondary backColor">
    <div class="uk-container">
        <h1 class="uk-text-center">NOS SERVICES</h1>
        <div class="uk-grid-match uk-child-width-expand@s" uk-grid>
            <div>
                <img data-src="https://via.placeholder.com/250x250" alt="" uk-img>
                <h2>Nom du service</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti asperiores suscipit nulla,
                    consectetur magni, ipsa cupiditate nisi aliquam quae ex nesciunt. Beatae, quia! Animi eum magni non.
                    Facere, et est.</p>
            </div>
            <div>
                <img data-src="https://via.placeholder.com/250x250" alt="" uk-img>
                <h2>Nom du service</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti asperiores suscipit nulla,
                    consectetur magni, ipsa cupiditate nisi aliquam quae ex nesciunt. Beatae, quia! Animi eum magni non.
                    Facere, et est.</p>
            </div>
            <div>
                <img data-src="https://via.placeholder.com/250x250" alt="" uk-img>
                <h2>Nom du service</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti asperiores suscipit nulla,
                    consectetur magni, ipsa cupiditate nisi aliquam quae ex nesciunt. Beatae, quia! Animi eum magni non.
                    Facere, et est.</p>
            </div>
            <div>
                <img data-src="https://via.placeholder.com/250x250" alt="" uk-img>
                <h2>Nom du service</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti asperiores suscipit nulla,
                    consectetur magni, ipsa cupiditate nisi aliquam quae ex nesciunt. Beatae, quia! Animi eum magni non.
                    Facere, et est.</p>
            </div>
            <div>
                <img data-src="https://via.placeholder.com/250x250" alt="" uk-img>
                <h2>Nom du service</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti asperiores suscipit nulla,
                    consectetur magni, ipsa cupiditate nisi aliquam quae ex nesciunt. Beatae, quia! Animi eum magni non.
                    Facere, et est.</p>
            </div>
        </div>
    </div>
</section>