{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<!-- Image Fixe-->
<div class="uk-inline">
    <img data-src="https://via.placeholder.com/1800x1200" alt="Text_image" uk-img>
    <div class="uk-position-center">
        <h1>LE SLOGAN DE L'AGENCE</h1>
    </div>
    <div class="uk-position-small uk-position-bottom-center uk-visible@m">
        <a href="#services" uk-scroll uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0"><span id="slideshow_text"
                uk-icon="icon: arrow-down;ratio:2"></span></a>
    </div>
</div>
<!-- NOS SERVICES-->
{% include "home/_services.html.twig" %}

<!-- REFERENCES-->
{% include "home/_references.html.twig" %}

<!-- Blog-->
{% include "home/_blog.html.twig" %}

<!-- Team-->
{% include "home/_team.html.twig" %}

<!-- Form -->
{% include "home/_contact.html.twig" %}

{% endblock %}