{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<!-- Image Fixe-->
<div id="index" data-src="{{asset('img/bg.jpg')}}" uk-img class="uk-inline full-page-img">

    <div class="uk-position-center uk-text-center">
        <h1 class="uk-light">Votre lien vers le web</h1>
        <a href="#services" class="uk-animation-toggle" uk-scroll uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0">
            <i class="uk-animation-slide-bottom-medium fas fa-arrow-circle-down fa-10x"></i>
        </a>
    </div>
</div>
<!-- NOS SERVICES-->
{% include "home/_services.html.twig" %}

<!-- REFERENCES-->
{% include "home/_references.html.twig" %}

<!-- Blog-->
{% include "home/_blog.html.twig" %}

<!-- Team-->
{% include "home/_team.html.twig" %}

<!-- Form -->
{% include "home/_contact.html.twig" %}

{% include "home/_modal.html.twig" %}

{% endblock %}