{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

{% include "home/_modal.html.twig" %}

<!-- Image Fixe-->
<div id="index" data-src="{{asset('img/bg.jpg')}}" uk-img class="uk-inline full-page-img">

    <div class="uk-position-center uk-text-center">
        <h1 class="uk-light">Votre lien vers le web</h1>
        <a href="#services" class="uk-animation-toggle" uk-scroll uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0">
            <i class="uk-animation-slide-bottom-medium fas fa-arrow-circle-down fa-10x"></i>
        </a>
    </div>
</div>
<!-- NOS SERVICES-->
<section id="services" class="uk-section uk-section-secondary">
    {% include "home/_services.html.twig" %}
</section>


<!-- REFERENCES-->
<section id="refs" class="uk-section uk-section-default">
    {% include "home/_references.html.twig" %}
</section>


<!-- Blog-->
<section id="blog-section" class="uk-section uk-section-secondary">
    {% include "home/_blog.html.twig" %}
</section>


<!-- Team-->
<section id="agence" class="uk-section uk-section-default">
    {% include "home/_team.html.twig" %}
</section>


<!-- Form -->
<section id="contact" class="uk-section uk-section-secondary">
    {% include "home/_contact.html.twig" %}
</section>

{% endblock %}