{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<!-- Image Fixe-->
<div class="uk-inline full-page-img">

    <div class="uk-position-center">
        <h1>LE SLOGAN DE L'AGENCE</h1>
        <a href="#services" uk-scroll uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0">
            <i class=" fas fa-arrow-circle-down fa-10x"></i>
        </a>
    </div>
</div>
<!-- NOS SERVICES-->
{% include "home/_services.html.twig" %}

<!-- REFERENCES-->
{% include "home/_references.html.twig" %}

<!-- Blog-->
{% include "home/_blog.html.twig" %}

<!-- Team-->
{% include "home/_team.html.twig" %}

<!-- Form -->
{% include "home/_contact.html.twig" %}

{% endblock %}