<footer>
    <section class="uk-section-primary">
        <div class="uk-container uk-container uk-text-center">
            <div class="uk-grid-collapse uk-child-width-expand@s" uk-grid>
                <div>
                    <div class="footer-social ">
                        <h4 class="uk-margin-remove">Réseaux sociaux</h4>
                        <p class="uk-text-small uk-margin-remove">Suivez nous pour ne rien manquer</p>
                        <a href="" class="uk-icon" uk-icon="icon: facebook"></a>
                        <a href="" class="uk-icon" uk-icon="icon: twitter"></a>
                        <a href="" class="uk-icon" uk-icon="icon: instagram"></a>
                    </div>
                </div>
                <div class="">
                    <h4 class="uk-margin-remove">Ville de l'agence</h4>
                    <p class="uk-text-small uk-margin-remove">26 rue des vaches</p>
                    <p class="uk-text-small uk-margin-remove">85400 Saint-Micheline</p>

                </div>

                <div>
                    <div class="">
                        <h4 class="uk-margin-remove">Téléphone</h4>
                        <p class="uk-text-small uk-margin-remove">03 88 56 98 75</p>
                    </div>
                </div>
                <div>
                    <div class="">
                        <h4 class="uk-margin-remove">Email</h4>
                        <p class="uk-text-small uk-margin-remove">contact@agence-ljm.illaweb.fr/</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-container uk-container-large">
            <hr>
            <div class="uk-grid-collaspe uk-child-width-expand@s uk-margin-bottom" uk-grid>
                <div class="uk-text-left">
                    <a href="{{ path('footer_legals') }}" class="uk-text-small">Mentions légales</a>
                    <a href="{{ path('footer_privacy_policy') }}" class="uk-text-small">Politiques de confidentialité</a>
                </div>
                <div class="uk-text-right">
                    <p class="uk-text-small"> ©{{ "now"|date("Y") }} &nbsp; L2J</p>
                </div>
            </div>
        </div>

    </section>
</footer>