<div class="uk-sticky"
    uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #sticky-dropbar-push">
    <nav class="uk-navbar-container" uk-navbar style="position: relative; z-index: 980;">
        <div class="uk-navbar-left">
            <a class="uk-navbar-item uk-logo" href="{{ path('home_index') }}">
                <img id="logo" data-src="{{asset('img/Logos_ljm/Logo_Hpb_1.png')}}" alt="logo site" uk-img>
            </a>
        </div>
        <div class="uk-navbar-right">
            <a class="uk-navbar-toggle uk-hidden@m" uk-navbar-toggle-icon href="off-canvas-push"
                uk-toggle="target: #offcanvas-push"></a>
        </div>
        <div class="uk-navbar-right uk-visible@m">
            <ul class="uk-navbar-nav" uk-scrollspy-nav="closest: li; scroll: true; offset:80">
                <li>
                    <a href="#index" uk-scroll uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0">
                        Accueil
                    </a>
                </li>
                <li>
                    <a href="#services" uk-scroll uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0">
                        Nos services
                    </a>
                </li>
                <li>
                    <a href="#refs" uk-scroll uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0">
                        Nos références
                    </a>
                </li>
                <li>
                    <a href="#blog-section" uk-scroll uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0">
                        Le blog
                    </a>
                </li>
                <li>
                    <a href="#agence" uk-scroll uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0">
                        L'agence
                    </a>
                </li>
                <li>
                    <a href="#contact" uk-scroll uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0">
                        Contact
                    </a>
                </li>
            </ul>
            <div class="uk-navbar-item">
                <a href="" uk-icon="icon: instagram"></a>
                <a href="" uk-icon="icon: twitter"></a>
                <a href="" uk-icon="icon: facebook"></a>
            </div>
        </div>

    </nav>
</div>
<div id="offcanvas-push" uk-offcanvas="mode: push; overlay: true; flip: true">

    <div class="uk-offcanvas-bar">
        <button class="uk-offcanvas-close" type="button" uk-close></button>

        <ul class="uk-nav uk-nav-default">

            <li>
                <a href="#index">
                    Accueil
                </a>
            </li>
            <li>
                <a href="#services">
                    Nos services
                </a>
            </li>
            <li>
                <a href="#refs">
                    Nos références
                </a>
            </li>
            <li>
                <a href="#blog-section">
                    Le blog
                </a>
            </li>
            <li>
                <a href="#agence">
                    L'agence
                </a>
            </li>
            <li>
                <a href="#contact">
                    Contact
                </a>
            </li>
        </ul>
        <div class="uk-navbar-item">
            <a href="" uk-icon="icon: instagram"></a>
            <a href="" uk-icon="icon: twitter"></a>
            <a href="" uk-icon="icon: facebook"></a>
        </div>
    </div>
</div>