<div class="uk-sticky"
    uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #sticky-dropbar-push">
    <nav class="uk-navbar-container" uk-navbar style="position: relative; z-index: 980;">
        <div class="uk-navbar-left">
            <a class="uk-navbar-toggle uk-hidden@s" uk-navbar-toggle-icon href="off-canvas-push"
                uk-toggle="target: #offcanvas-push">
            </a>

            <a class="uk-navbar-item uk-logo" href="{{ path('home_index')}}">
                <img class="uk-border-circle" data-src="https://picsum.photos/200" width="60" height="auto"
                    alt="logo site" uk-img>
            </a>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav  uk-visible@s">
                <li>
                    <a href="{{ path('home_index')}}">
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: home"></span>
                        Home
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: star"></span>
                        Services
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: image"></span>
                        Portfolio
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: comment"></span>
                        Blog
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: mail"></span>
                        Contact
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: user"></span>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li class="uk-active"><a href="#">Active</a></li>
                                <li><a href="#">Connexion</a></li>
                                <li><a href="#">Déconnexion</a></li>
                            </ul>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="uk-navbar-item">
                <a href="" uk-icon="icon: twitter"></a>
                <a href="" uk-icon="icon: facebook"></a>
                <a href="" uk-icon="icon: linkedin"></a>
            </div>
        </div>

    </nav>
</div>
<div id="offcanvas-push" uk-offcanvas="mode: push; overlay: true">

    <div class="uk-offcanvas-bar">
        <button class="uk-offcanvas-close" type="button" uk-close></button>

        <ul class="uk-nav uk-nav-default">

            <li class="uk-nav-header">NAVBAR</li>
            <li>
                <a href="#">
                    <span class="uk-margin-small-right" uk-icon="icon: home"></span>
                    home
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="uk-margin-small-right" uk-icon="icon: star"></span>
                    Services
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="uk-margin-small-right" uk-icon="icon: image"></span>
                    Portfolio
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="uk-margin-small-right" uk-icon="icon: comment"></span>
                    Blog
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="uk-margin-small-right" uk-icon="icon: user"></span>
                    User
                </a>
            <li class="uk-nav-divider"></li>
            <ul class="uk-nav-sub">
                <li><a href="#">Connexion</a></li>
                <li><a href="#">Déconnexion</a></li>
            </ul>
            </li>
        </ul>
        <div class="uk-navbar-item">
            <a href="" uk-icon="icon: twitter"></a>
            <a href="" uk-icon="icon: facebook"></a>
            <a href="" uk-icon="icon: linkedin"></a>
        </div>
    </div>
</div>