@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP|Quicksand&display=swap');

body,html {
    height: 100%;
}

/* Modification de police de caractères */
h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'Quicksand', sans-serif;
}

h2, h3{
    text-transform: uppercase;
    font-weight: bold;
}

p {
    font-family: 'Noto Sans JP', sans-serif;
}
.uk-section-secondary p {
    color: #fff;
}


strong {
    color: #F74A31;
}

/* Modification des variables UIkit*/
.uk-section-secondary {
    background-color: #1c1c1c;
}
.uk-section-primary{
    background-color: #101010;
}
.uk-section-default{
    background-color: #eeeeee;
}

.uk-navbar-container:not(.uk-navbar-transparent){
    background-color: #1c1c1c;
}
.uk-navbar-item,
.uk-navbar-nav li a {
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    font-weight: bold;
}
.uk-navbar-nav>li>a:active, .uk-navbar-nav>li:hover>a, .uk-navbar-nav>li>a.uk-open, .uk-navbar-nav>li>a:focus,
.uk-navbar-item .uk-icon:hover, .uk-navbar-item .uk-icon:active, .uk-navbar-item .uk-icon:focus{
    color: #F74A31;
}
.uk-navbar-item .uk-icon{
    color: #fff;
    margin-left: 15px;
}


.uk-button-text {
    color: #0C4353;
    font-family: 'Noto Sans JP', sans-serif;
}

.uk-button-text:hover {
    color: #3CA5A5;

}

.uk-button-primary {
    background-color: #0C4353;
}

.uk-button-primary:hover {
    background-color: #3CA5A5;
}

.uk-icon {
    color: #3CA5A5;
}

.uk-offcanvas-bar a {
    color: #3CA5A5;
    font-family: 'Quicksand', sans-serif;
}

.uk-icon:hover {
    color: #0C4353;
}

.uk-offcanvas-bar a:hover {
    color: #0C4353;
}

.uk-card-default .uk-card-title {
    color: #F75A31;
    font-family: 'Quicksand', sans-serif;
}

/* Modification propre agence l2J*/

#logo {
    max-width: 7.5rem;
    max-height: 3.75rem;
}

.index-arrow .uk-icon{
    color: #4f4f4f;
}
.full-page-img{
    background-image: url("https://via.placeholder.com/1800x1200");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -80px;
    width: 100%;
}
.service-img{
    min-height:200px;
}