@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP|Quicksand&display=swap');

/* Modification de police de caractères */
h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'Quicksand', sans-serif;
}

p {
    font-family: 'Noto Sans JP', sans-serif;
}

/* Modification des variables UIkit*/
.uk-navbar-item,
.uk-navbar-nav li a {
    font-family: 'Quicksand', sans-serif;
}

.uk-button-text {
    color: #0C4353;
    font-family: 'Noto Sans JP', sans-serif;
}

.uk-button-text:hover {
    color: #3CA5A5;

}

.uk-button-primary {
    background-color: #0C4353;
}

.uk-button-primary:hover {
    background-color: #3CA5A5;
}

.uk-icon {
    color: #3CA5A5;
}

.uk-offcanvas-bar a {
    color: #3CA5A5;
    font-family: 'Quicksand', sans-serif;
}

.uk-icon:hover {
    color: #0C4353;
}

.uk-offcanvas-bar a:hover {
    color: #0C4353;
}

.uk-card-default .uk-card-title {
    color: #F75A31;
    font-family: 'Quicksand', sans-serif;
}

/* Modification propre agence l2J*/
.services {
    color: #F75A31;
    font-family: 'Quicksand', sans-serif;
}