{% extends 'admin_base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<section class="uk-section">
    <div class="uk-container">
        <h1>DashBoard</h1>
    </div>
</section>
{% endblock %}