{% extends "admin_base.html.twig" %}
{% block title %}Liste des articles{% endblock %}

{% block body %}
<section class="uk-section">
    <div class="uk-container">
        {% include "article/_article.html.twig" %}
    </div>
</section>
{% endblock %}