{% extends 'admin_base.html.twig' %}

{% block title %}Editer la référence{% endblock %}

{% block body %}
    <div class="section uk-section">
        <div class="uk-container">
            <h1>Editer la référence</h1>

            {{ include('admin/reference/_form.html.twig', {'button_label': 'Update'}) }}

            <a class="uk-button uk-button-text" href="{{ path('reference_index') }}">Retour à la liste des références</a>
            <a class="uk-link-muted">|</a>
            <a class="uk-button uk-button-text" href="{{ path('home_index') }}#reference">Retour à l'accueil</a>
        </div>
    </div>
{% endblock %}