{% extends "admin_base.html.twig" %}
{% block title %}Liste de commentaires{% endblock %}

{% block body %}
<section class="uk-section">
    <div class="uk-container">
        <h1>Liste des commentaires</h1>

        <table class="uk-table uk-table-divider">
            <thead>
                <tr>
                    <th>Auteur</th>
                    <th>date</th>
                    <th>Commentaire</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for comment in comments %}
                    <td>{{comment.author}}</td>
                    <td>{{comment.createdAt|date('d-m-Y à H:i')}}</td>
                    <td>{{comment.content}}</td>
                    <td>
                        <p class="uk-article-meta">
                            <a href="#delete-confirm" uk-toggle>
                                <span uk-icon="icon: trash"></span>
                            </a>
                        </p>
                    </td>
                    <div id="delete-confirm" uk-modal>
                        <div class="uk-modal-dialog uk-modal-body">
                            <p class="uk-text-center">
                                Voulez vous vraiment supprimer ce commentaire ?
                            </p>
                            <div class="uk-text-center">
                                {% include "admin/article/_comment_delete_form.html.twig" %}
                                <button class="uk-margin uk-button uk-button-default uk-modal-close"
                                    type="button">Annuler</button>
                            </div>
                        </div>
                    </div>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}