{% extends 'admin_base.html.twig' %}

{% block title %}Editer l'article{% endblock %}

{% block body %}
<div class="section uk-section">
        <div class="uk-container">
            <h1>Editer l'article</h1>

            {{ include('admin/article/_form.html.twig', {'button_label': 'Update'}) }}

            <a class="uk-button uk-button-text" href="{{ path('article_index') }}">Retour à la liste des articles</a>
            <a class="uk-button uk-button-text" href="{{ path('home_index') }}#blog">Retour à l'accueil</a>
        </div>
    </div>
{% endblock %}