{% extends 'admin_base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
<div class="section uk-section">
        <div class="uk-container">
            <h1>Edition de Article</h1>

            {{ include('admin/article/_form.html.twig', {'button_label': 'Update'}) }}

            <a href="{{ path('article_index') }}">Retour à la liste des articles</a>
        </div>
    </div>
{% endblock %}