{% extends 'admin_base.html.twig' %}

{% block title %}Nouvel article{% endblock %}

{% block body %}
<div class="section-uk-section">
    <div class="uk-container">
        <h1>Créer un nouvel article</h1>

        {{ include('admin/article/_form.html.twig') }}
        <div class="uk-margin-bottom uk-margin-top">
            <a class="uk-button uk-button-link" href="{{ path('article_index') }}">Retourner à la liste des articles</a>
        </div>

    </div>
</div>
{% endblock %}