{% extends 'base.html.twig' %}


{% block body %}
<h1 class="uk-text-danger">{{ 'http_error.name'|trans({ '%status_code%': status_code }) }}</h1>

<p class="uk-text-lead">
    {{ 'http_error.description'|trans({ '%status_code%': status_code }) }}
</p>
<p>
    {{ 'http_error.suggestion'|trans({ '%url%': path('blog_index') })|raw }}
</p>
{% endblock %}