{% extends 'admin_base.html.twig' %}

{% block title %}Edit Customer{% endblock %}

{% block body %}
<section class="uk-section">
    <div class="uk-container">
        <h1>Editer le client</h1>

        {{ include('admin/customer/_form.html.twig', {'button_label': 'Update'}) }}

        <a class="uk-button uk-button-text" href="{{ path('customer_index') }}">Retour à la liste des clents</a>
        <a class="uk-link-muted">|</a>
        <a class="uk-button uk-button-text" href="{{ path('home_index') }}#blog">Retour à l'accueil</a>

    </div>
</section>

{% endblock %}