{% extends 'admin_base.html.twig' %}

{% block title %}Edit Customer{% endblock %}

{% block body %}
<h1>Edit Customer</h1>

{{ include('admin/customer/_form.html.twig', {'button_label': 'Update'}) }}

<a href="{{ path('customer_index') }}">back to list</a>

{{ include('admin/customer/_delete_form.html.twig') }}
{% endblock %}