{% extends 'admin_base.html.twig' %}

{% block title %}New Customer{% endblock %}

{% block body %}
<section class="uk-section">
    <div class="uk-container">
        <h1>Create new Customer</h1>

        {{ include('admin/customer/_form.html.twig') }}
        <div class="ukmargin-bottom uk-margin-top">
            <a class="uk-button uk-button-text" href="{{ path('customer_index') }}">retour à la liste des clients</a>
        </div>
    </div>
</section>

{% endblock %}