{% extends 'base.html.twig' %}

{% block title %}Blog_liste{% endblock %}

{% block body %}
<section class="uk-section">
    <div class="uk-container">
        <h1>Liste des Articles</h1>
        {% if is_granted('ROLE_USER') %}
        <div class="uk-margin">
            <a class="uk-button uk-button-primary uk-border-rounded" href="{{ path('article_new') }}">Create new</a>
        </div>
        {% endif %}
        {% include "article/_article.html.twig" %}
    </div>
</section>
{% endblock %}